#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
!test.tfvars

# rbenv set ruby version
.ruby-version

# KitcheCI related files
.kitchen/

Gemfile.lock
